body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: palegreen;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 50px;
}

/* Center the app content */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Basic styling for container */
div {
  background-color: #fff;
  background-image: linear-gradient(to right bottom, #090707, #2b0d15, #47052a, #5e004a, #680076, #850076, #9f0075, #b70072, #c02a44, #b35222, #986f14, #79852e);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
